Package: dephormer
Version: 0.9
License: GPL-3.0
Vendor: Caldas Lopes <joao.caldas.lopes@gmail.com>
Architecture: amd64
Maintainer: Caldas Lopes <joao.caldas.lopes@gmail.com>
Depends: openjdk-11-jre | openjdk-8-jre | oracle-java8-installer, ffmpeg
Section: Contrib
Priority: extra
Homepage: https://github.com/linux-man/dephormer
Description: 
  Morphing Software
